<div class="container-fluid">  
  <div class="admin-content">    
    <h2>DASHBOARD ORGANIZATION</h2>
    <div class="text-center" style="font-size:100px; color:#eee; font-weight:bold; margin-top:150px; margin-bottom:180px;">WELCOME</div>
  </div>
</div>