<div class="container">  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Edit Organization</h4>
    </div>
    <div class="panel-body">
        <%= render 'form' %>
    </div>
  </div>

  <%= link_to 'Cancel', categories_path , class: "btn btn-primary"%>
  <%= link_to 'Show', @category , class: "btn btn-default"%> 
</div>
