<h1>Welcome to Dashboard</h1>
  <ul class="nav nav-pills nav-justified">
    <li role="presentation" class="active"><%= link_to 'Organizations', organizations_path ,class: 'btn' %> </li>
    <li role="presentation"><%= link_to 'Add Product', products_path %></li>
  </ul>
</div>

