<div class="container-fluid">  
  <div class="admin-content">    
  <div class="row">    
    <div class="col-md-6 col-sm-6"><h2>PRODUCT DETAILS</h2></div>
    <div class="col-md-6 col-sm-6 text-right">
      <div class="title-links">
        <%= link_to 'PRODUCTS', admins_organization_products_path(params[:organization_id]) , class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <hr class="margin-top-10">
  <div class="row">
      <h3>Name: <u><%= @product.name %></u></h3>
  </div>
    
  <div class="clear10"></div>
  <div class="row">
    <% @product.galleries.each do |gallery| %>
      <%= image_tag gallery.image.url(:medium) %>
      <% end %>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
  <%= link_to 'Edit', edit_product_path(@product) ,class: "btn btn-success btn-sm" %> 
  </div>
</div>
</div>