<section id="content" >
  <div class="container">
    <div class="clear10"></div>      
      <div class="row">            
        <div class="col-md-6">
            <h3 class="page-title">Product Details</h3>
        </div>
          
        <div class="col-md-6 text-right">
          <div class="title-links">
            <%= link_to 'PRODUCTS', admins_organization_products_path(params[:organization_id])  , class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="text-center"><h4><%= @product.name %></h4></div>
      <div class="clear20"></div>

      <div id="slider" class="flexslider slider-main">
        <ul class="slides">
           <% @product.galleries.each do |gallery| %>
            <li>
              <%= image_tag gallery.image.url(:original) %>
            </li>
           <% end %>                  
        </ul>
      </div>
      <div id="carousel" class="flexslider">
        <ul class="slides">
          <% @product.galleries.each do |gallery| %>
            <li>
              <%= image_tag gallery.image.url(:medium) %>
            </li>
           <% end %>           
        </ul>
      </div>           
      <div class="clear20"></div>
  </div>
</section>